body {
  min-height: 100vh;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0px;
  background: #72716D;
}

.logo-container {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 2em;
}

#logo {
  width: 8vh;
}

.header {
  display: flex;
  flex-direction: row;
  height: 10vh;
}

footer {
  display: flex;
  justify-content: center;
  height: 10vh;
  color: white;
}

footer p {
  line-height: 1em;
}


.nav-buttons {
  display: flex;
  align-items: center;
  width: 50%;
  justify-content: flex-end;
}

.nav-button {
  background-color: #F7B233!important;
}

.nav-button a {
  text-decoration: none;
  color: #72716D!important;
}


.sign-up {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2em;
  width: 100%;
  background: #434842;
  height: 78vh;
  background-image: url(../images/mockupFINAL.jpg);
  background-position: 50% 45%;
  background-size: cover;
  position: fixed;
}

h2 {
  text-align: center;
  color: #72716D;
}

h3 {
  font-size: 4em;
}

.sign-up .beta {
  background-color: #6AC669!important;
}

form {
  display: flex;
  flex-direction: column;
}


/*$colors: (
  primary:    #387ef5,
  secondary:  #32db64,
  danger:     #FFFF4C,
  light:      #f4f4f4,
  dark:       #363A36,
  yel:        #E8D8A7,
  yelacc:     #AFA687,
  drkyel:     #FFE589,
  ora:        #F7B233,
  dan:        #B74949,
  gra:        #B4BDC4,
  drkgra:     #72716D,
  gre:        #6AC669,
  drktext:    #30302E
);*/
