body {
  min-height: 100vh;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0px;
  background: #72716D;
}

#logo {
  width: 50%;
}

.navbars {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 2em;
}

.button-row {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 1em;
}

.nav-button {
  background-color: #F7B233!important;
}

.nav-button a {
  text-decoration: none;
  color: #72716D!important;
}

.middle img {
  width: 100%;
}

.sign-up {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2em;
}

.sign-up .beta {
  background-color: #6AC669!important;
}

/*$colors: (
  primary:    #387ef5,
  secondary:  #32db64,
  danger:     #FFFF4C,
  light:      #f4f4f4,
  dark:       #363A36,
  yel:        #E8D8A7,
  yelacc:     #AFA687,
  drkyel:     #FFE589,
  ora:        #F7B233,
  dan:        #B74949,
  gra:        #B4BDC4,
  drkgra:     #72716D,
  gre:        #6AC669,
  drktext:    #30302E
);*/
